<header class="main-header">
    <nav class="main-header__nav">
        <a class="main-header__item" href="/users">Users</a> 
        <a class="main-header__item" href="/admin/add-name">Add name</a>
    </nav>
</header>