<%- include('includes/head.ejs') %>

</head>


<body>
    
    <%- include('includes/navigation.ejs') %>
    <h1 style="text-align: center; margin-top: 5rem; font-size: 5rem;"> Page Not Found </h1>
    
</body>
</html>